<% content_for :centered_form_layout do %>
  <h3 class="mb-5">Resend confirmation instructions</h3>

  <%= simple_form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.input :email, as: :email,
                  autofocus: true,
                  input_html: {
                    autocomplete: "email",
                    value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
                  } %>
    </div>

    <div class="field">
      <%= f.submit "Resend confirmation instructions", class: primary_btn_classes("block w-full") %>
    </div>
  <% end %>
  <hr class="my-5">
  <%= render "users/shared/links" %>
<% end %>
<%= render "layouts/centered-form-layout" %>
