<% content_for :centered_form_layout do %>
  <h3 class="mb-5">Resend confirmation instructions</h3>

  <%= form_for(resource, as: resource_name, url: user_confirmation_path, html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
    </div>

    <div class="field">
      <%= f.submit "Resend confirmation instructions", class: primary_btn_classes("block w-full") %>
    </div>
  <% end %>
  <hr class="my-5">
  <%= render "users/shared/links" %>
<% end %>
<%= render "layouts/centered-form-layout" %>
