<% modal_id = modal_dom_id(@account, content_type: "show") %>
<%= turbo_frame_tag resource_dom_turbo_id(@account) do %>
  <div
    id="<%= modal_id %>" tabindex="-1" aria-hidden="true"
    class="flowbite-modal hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full"
    data-modal-placement="center-center">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
          <%= render "accounts/modal/header" %>
          <button
            type="button"
            data-modal-hide="<%= modal_id %>"
            class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="p-4 md:p-5 space-y-4">
          <% if notice.present? %>
            <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
          <% end %>
          <!-- Modal form actions -->
          <% content_for :form_actions do %>
            <%= link_to "Back to accounts", accounts_path, "data-turbo": false, class: secondary_btn_classes %>
            <%= button_to "Delete", @account, "data-turbo": false, method: :delete, class: secondary_btn_classes(style: :danger) %>
            <%= link_to "Edit", edit_account_path(@account), "data-turbo": false, class: primary_btn_classes %>
          <% end %>

          <%= render @account %>
        </div>
      </div>
    </div>
  </div>
<% end %>
