<% expect_flash_of_unstyled_content = local_assigns[:expect_flash_of_unstyled_content] %>
<head>
  <title>LarCity :: <%= page_title %></title>
  <link rel="icon" type="image/png" href="<%= image_url('logo@1024px.png') %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if expect_flash_of_unstyled_content %>
    <style>html{visibility: hidden;opacity:0;}</style>
  <% end %>

  <%= yield :head %>
</head>
