<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @invoice %>

    <div class="flex w-full items-center justify-end mt-2">
      <%= link_to "Back to invoices", app_invoices_path, class: secondary_btn_classes("py-3 px-5") %>
      <%= link_to "Edit", edit_invoice_path(@invoice), class: secondary_btn_classes("ml-2 py-3 px-5") %>
      <div class="inline-block ml-2">
        <%= button_to "Destroy", @invoice, method: :delete, class: secondary_btn_classes("py-3 px-5", style: :danger) %>
      </div>
    </div>
  </div>
</div>
