<% content_for :centered_form_layout do %>
  <h3 class="mb-4 dark:text-white">Log in</h3>
  <%= simple_form_for(
        resource,
        as: resource_name,
        url: user_fallback_session_path,
        html: { class: "space-y-6" }
      ) do |f| %>
    <div class="field">
      <%= f.input :email, as: :email, autofocus: true, input_html: { autocomplete: "email" } %>
    </div>

    <div class="field">
      <%= f.input :password, as: :password, input_html: { autocomplete: "current-password" } %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.input :remember_me, as: :boolean, wrapper: :inline_checkbox %>
      </div>
    <% end %>

    <div class="field">
      <%= f.submit "Log in", class: primary_btn_classes("block w-full") %>
    </div>
  <% end %>

  <div class="my-5">
    <%= render "shared/separator-with-text", content: "Other ways to sign in" %>
  </div>

  <%= render "users/shared/omniauth/links" %>

  <div class="mb-5">
    <%= render "shared/separator-with-text", content: "Need to do something else?" %>
  </div>

  <%= render "users/shared/links" %>
<% end %>

<%= render "layouts/centered-form-layout" %>
