<% content_for :centered_form_layout do %>
  <h3 class="mb-4 dark:text-white">Log in</h3>
  <%= form_for(
        resource,
        as: resource_name,
        url: user_fallback_session_path,
        html: { class: "space-y-6" }
      ) do |f| %>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="field">
      <%= f.label :password, class: "label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="field">
      <%= f.submit "Log in", class: "btn btn-primary block w-full" %>
    </div>
  <% end %>

  <div class="my-5">
    <%= render "shared/separator-with-text", content: "Other ways to sign in" %>
  </div>

  <%= render "users/shared/omniauth/links" %>

  <div class="mb-5">
    <%= render "shared/separator-with-text", content: "Need to do something else?" %>
  </div>

  <%= render "users/shared/links" %>
<% end %>

<%= render "layouts/centered-form-layout" %>
