<% content_for :centered_form_layout do %>
  <h3>Resend unlock instructions</h3>

  <%= form_for(resource, as: resource_name, url: user_unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions", class: "btn btn-primary block w-full mb-5" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
<% end %>
<%= render 'layouts/centered-form-layout' %>
