<%
  id ||= "textarea--#{SecureRandom.uuid_v4}"
  label ||= 'Textarea'
  value ||= ''
  rows ||= 8
%>
<label class="block font-medium mb-1" for="<%= id %>"><%= label %></label>
<textarea
  id="<%= id %>"
  rows="<%= rows %>"
  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-brand-500 focus:border-brand-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-brand-500 dark:focus:border-brand-500"
  readonly="readonly"
><%= value %></textarea>
