<%= simple_form_for(webhook, class: "contents") do |form| %>
  <% if webhook.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(webhook.errors.count, "error") %> prohibited this webhook from being saved:</h2>

      <ul class="list-disc ml-6">
        <% webhook.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name, wrapper_class: "w-full my-5" %>

  <%= form.input :slug, wrapper_class: "w-full my-5" %>

  <% if webhook.persisted? %>
    <%= form.input :url, wrapper_class: "w-full my-5", readonly: true %>
  <% end %>

  <!-- Dashboard URL -->
  <%= form.input :dashboard_url, wrapper_class: "w-full my-5" %>

  <!-- Verification token -->
  <%= form.input :verification_token, wrapper_class: "w-full my-5" %>

  <!-- Integration Name -->
  <div class="my-5">
    <%= form.label "Integration Identifier (UUID)" %>
    <%= form.text_field :integration_id, class: input_class_names %>
  </div>

  <%= form.input :integration_name, wrapper_class: "w-full my-5" %>

  <!-- Notes (Trix WYSIWYG) -->
  <div class="my-5 dark:bg-gray-700">
    <%= form.label :readme, t('labels.accounts.notes') %>
    <%= form.rich_text_area :readme, rows: 4, class: "block shadow rounded-md border border-gray-400 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex flex-col md:flex-row md:items-center md:justify-end md:space-x-4">
    <%= yield :form_actions %>
    <%= form.submit class: primary_btn_classes("cursor-pointer px-5 py-3") %>
  </div>
<% end %>
