<% content_for :title, "Showing webhook" %>

<div class="flex min-h-[var(--lc-min-form-height)] flex-col justify-center items-center">
  <div class="dark:text-gray-300 md:w-2/3 w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
    <% end %>

    <h1 class="font-bold text-4xl">Showing webhook</h1>

    <% content_for :form_actions do %>
      <%= link_to "Edit this webhook", edit_webhook_path(@webhook), class: secondary_btn_classes("px-5 py-3") %>
      <%= link_to "Back to webhooks", webhooks_path, class: secondary_btn_classes("px-5 py-3") %>
      <%= button_to "Destroy this webhook", @webhook, method: :delete, class: secondary_btn_classes("px-5 py-3 w-full md:w-auto md:me-2", style: :danger) %>
    <% end %>

    <%= render @webhook %>
  </div>
</div>
