<div id="<%= dom_id deal %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= deal.account_id %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= deal.amount %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Expected close at:</strong>
    <%= deal.expected_close_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Last contacted at:</strong>
    <%= deal.last_contacted_at %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Priority:</strong>
    <%= deal.priority %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Stage:</strong>
    <%= deal.stage %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= deal.type %>
  </p>
</div>
