<div class="w-full dark:text-gray-300 min-h-[var(--lc-min-form-height)]">
  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold dark:text-white text-4xl"><%= @webhook.name %> Events</h1>
    <%= link_to "Raw Data", webhook_events_path(@webhook, format: :json), class: secondary_btn_classes %>
  </div>

  <% if flash[:success].present? %>
    <%= render "shared/alerts/success", message: flash[:success] %>
  <% end %>

  <% content_for :bottom_nav_actions do %>
    <%= link_to "#{@webhook.name} webhook", webhook_path(@webhook), class: secondary_btn_classes("px-5 py-3 md:mx-2") %>
  <% end %>

  <div id="webhook-events" class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
    <div class="overflow-x-auto">
      <table class="table table-auto min-w-full divide-y divide-gray-200 text-gray-500 dark:text-gray-400">
        <thead class="bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Type</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Key</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Status</th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">Created At</th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
        <% if @events.any? %>
          <% @events.each do |event| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm font-medium dark:text-white">
                  <code><%= event.type %></code>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm font-medium dark:text-white">
                  <code><%= event.payload&.key %></code>
                </div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <%= content_tag :span,
                                class: compose_class_names(
                                  "px-2 inline-flex text-xs leading-5 font-semibold rounded-full",
                                  "bg-green-100 text-green-800" => event.completed?,
                                  "bg-red-100 text-red-800" => event.failed?,
                                  "bg-yellow-100 text-yellow-800" => event.pending?,
                                  "bg-orange-100 text-orange-800" => event.processing?
                                ) do %>
                  <%= event.status.to_s.humanize %>
                <% end %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm">
                <%= event.created_at.strftime("%B %d, %Y %I:%M %p") %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                <%= link_to "View Details",
                            webhook_event_path(@webhook, event, format: :json),
                            class: primary_btn_classes("px-3 py-1") %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="5" class="px-6 py-4 text-center text-sm text-gray-500">
              No records found.
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <%= render "webhooks/events/pagination" %>
</div>
