<% content_for :centered_form_layout do %>
  <h3 class="mb-4">Log in</h3>
  <p class="my-4"><%= t('devise.passwordless.magic_link_cta') %></p>

  <%= form_for(
        resource,
        as: resource_name,
        url: user_session_path,
        html: { class: "space-y-6" }
      ) do |f| %>
    <div class="field">
      <%= f.label :email, class: "label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="field">
      <%= f.submit "Send me an access link", class: "btn btn-primary block w-full" %>
    </div>
  <% end %>
  <div class="my-3">
    <%= render "shared/separator-with-text", content: "OR" %>
  </div>
  <%= render "users/shared/omniauth/links" %>
  <div class="mb-4">
    <%= render "shared/separator-with-text", content: "Need something else?" %>
  </div>
  <%= render "users/shared/links" %>
<% end %>
<%= render "layouts/centered-form-layout" %>
