<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <%= content_for :head do %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag 'application.tsx' %>
    <!--
        If using a TypeScript entrypoint file:
          vite_typescript_tag 'application'

        If using a .jsx or .tsx entrypoint, add the extension:
          vite_javascript_tag 'application.jsx'

        Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
      -->
    <%= vite_javascript_tag 'theme_toggle_app.tsx' %>
    <%= stylesheet_link_tag "actiontext", media: "all" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
  <% end %>
  <%= render "layouts/shared/head" %>

  <body class="min-h-full dark:bg-default-background">
    <%= render "shared/navbar/index" %>
    <main class="pt-40">
      <div class="container flex flex-col flex-1 md:px-5 max-sm:px-2 mx-auto mt-0 mb-12 max-w-screen-xl">
        <%= yield %>
      </div>
    </main>
    <%= render "shared/footer/full" %>
    <!-- Bootstrap all the Flowbite JS things -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <!-- Pattern for including request-specific javascript -->
    <%= yield :typescript_includes %>
  </body>
</html>
