<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <%= content_for :head do %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag 'application.tsx' %>
    <!--
        If using a TypeScript entrypoint file:
          vite_typescript_tag 'application'

        If using a .jsx or .tsx entrypoint, add the extension:
          vite_javascript_tag 'application.jsx'

        Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
      -->
    <%= stylesheet_link_tag "application",
                            "actiontext", media: 'all' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <!--<script src="https://cdn.tailwindcss.com"></script>-->
  <% end %>
  <%= render "layouts/shared/head" %>

  <body class="h-full">
    <%= render "shared/navbar/index" %>
    <div class="flex flex-col h-screen">
      <%= render "shared/flash" %>
      <main class="container flex flex-col flex-1 pt-40 max-sm:px-2 md:px-5 mx-auto mt-0 mb-12 max-w-screen-xl">
        <%= yield %>
      </main>
      <%= render "shared/footer/full" %>
    </div>
    <!-- Bootstrap all the Flowbite JS things -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
  </body>
</html>
