<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <%= content_for :head do %>
    <!-- include via CDN for turbo support -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.turbo.min.js"></script>
    <%= stylesheet_link_tag "application",
                            "tailwind",
                            "actiontext", media: 'all' %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= vite_stylesheet_tag "application" %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_javascript_tag 'application.tsx' %>
    <!--
        If using a TypeScript entrypoint file:
          vite_typescript_tag 'application'

        If using a .jsx or .tsx entrypoint, add the extension:
          vite_javascript_tag 'application.jsx'

        Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
      -->
    <script src="https://cdn.tailwindcss.com"></script>
  <% end %>
  <%= render "layouts/shared/head" %>

  <body class="h-full">
    <%= render "shared/flash" %>
    <%= yield %>
    <%= render "shared/footer/full" %>
  </body>
</html>
