<tr class="<%= compose_class_names({ "opacity-25": account.parent.present? }, "bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600") %>">
  <td class="w-4 p-4">
    <div class="flex items-center">
      <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
      <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
    </div>
  </td>
  <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
    <img class="w-10 h-10 rounded-full" src="<%= image_url('person-default.svg') %>" alt="<%= account.display_name %>">
    <div class="ps-3">
      <div class="text-base font-semibold"><%= account.display_name %></div>
      <% if account.email.present? %>
        <div class="font-normal text-gray-500"><%= account.email %></div>
      <% end %>
      <%= render 'account-slug', account: %>
    </div>
  </th>
  <!--
  <td class="px-6 py-4">
    N/A
  </td>
  -->
  <td class="px-6 py-4">
    <%= account.parent.present? ? "Duplicate #{account.type}" : account.type %>
  </td>
  <td class="px-6 py-4">
    <div class="flex items-center">
      <%= render 'account-status', account: %>
    </div>
  </td>
  <td class="px-6 py-4 text-end">
    <div class="flex justify-end">
      <%= button_tag "View",
                     class: compose_class_names('action--view-account-summary', default_item_action_btn_classes),
                     "data-resource-id": account.id.to_s,
                     "data-modal-target-async": 'account--summary-modal',
                     "data-modal-toggle-async": 'account--summary-modal' %>
      <%= link_to "Edit", edit_account_path(account), class: default_item_action_btn_classes %>
    </div>
  </td>
</tr>
