<!-- TODO: For inspiration, see https://flowbite.com/docs/components/tables/#table-with-users -->

<% content_for :modal_containers do %>
<div id="account-summary-modal-container"></div>
<% end %>

<% content_for :typescript_includes do %>
<%= vite_typescript_tag 'accounts' %>
<% end %>

<div class="w-full">
  <% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-4xl">Accounts</h1>
    <%= link_to 'New account', new_account_path, class: primary_btn_classes %>
  </div>

  <div id="accounts" class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="flex items-center justify-between flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 dark:bg-gray-900">
      <%= render partial: 'accounts/filters/segment', locals: {} %>
      <%= form_with do |f| %>
        <label for="table-search" class="sr-only">Search</label>
        <div class="relative">
          <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
            </svg>
          </div>
          <%= f.search_field :display_name_or_email_cont,
                             id: 'table-search-accounts',
                             class: compose_class_names(
                               "block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500",
                               { 'cursor-not-allowed': !account_search_enabled? }
                             ),
                             placeholder: t('labels.accounts.search'),
                             disabled: !account_search_enabled? %>
<!--          <input type="text" id="table-search-accounts" class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="<%#= t('labels.accounts.search') %>" disabled="disabled">-->
        </div>
      <% end %>
    </div>
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="p-4">
            <div class="flex items-center">
              <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
              <label for="checkbox-all-search" class="sr-only">checkbox</label>
            </div>
          </th>
          <th scope="col" class="px-6 py-3">
            Name
          </th>
          <!--
        <th scope="col" class="px-6 py-3">
          Position
        </th>
        -->
          <th scope="col" class="px-6 py-3">
            Type
          </th>
          <th scope="col" class="px-6 py-3">
            Status
          </th>
          <th scope="col" class="px-6 py-3 flex justify-end">
            Action
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'accounts/list_item', collection: @accounts, as: :account %>
      </tbody>
    </table>
  </div>
</div>